*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

  i{
    color: blue;
} 
body{background:
    url('https://i.pinimg.com/736x/95/e9/eb/95e9eb8faa14dbe53e2a2675b07e890f.jpg');
    background-repeat: no-repeat;
    background-size:100%;
   
}
h1{
    margin: 15px; 
    color: aquamarine;
    font-weight: bold;
    font-family: sans-serif;
}
 a{
    float: right; 
    margin-right:40px;  
    margin-top:0px;
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 20px;
    transform: 0.4s;
    background: blue;
    border-radius: 8px;
}
 a:hover{
    background:lightblue;
    border-radius: 8px;
}

.box
{
    background: white;
    width: 400px;
    height: 500px;
    align-self:inherit;
    top:15%;
    right: 5%;
    left: 40%;
    padding: 20px;
    border-radius: 8px;
    border: solid gray 1px;  
    
}
form{
    width: 100%;
}
form input[type="email"]{
    width: 100%;
    padding: 10px  10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background:rgba(0,0,0,0.1);
}
form input[type="password"]{
    width: 100%;
    padding: 10px  10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background:rgba(0,0,0,0.1);
}
form .span{
    width: 100%;
    padding: 10px  10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background:rgba(0,0,0,0.1);
}
form input[type="submit"]{
    outline: none;
    border: none;
    background: #e84393;
    color: white;
    cursor: pointer;
    transition: 0.4s;

}
form input[type="submit"]:hover{
background: transparent;
border: 1px solid gray;
color: black;
}